<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  

    
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
<script src="https://unpkg.com/vuex@4.0.2/dist/vuex.global.js"></script>

    <title>Catalogo</title>
</head>
<body>

    <div id="app" >
      <header>
        <div class="bg-dark collapse" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">Aviso</h4>
                <p class="text-muted">Estos productos son 100%, funcionales y completamente nuevos, su cancelación puede ser total o parcial en un lapso de tiempo no mayor 120 días.</p>
              </div>
              
            </div>
          </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <!-- 
                 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
              -->
             
              <strong>Catalogo de productos</strong>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </header>

      <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="input-group mb-3 mt-3" style="padding:0px 20px;">
        <span class="input-group-text" id="basic-addon1">Buscar</span>
        <input type="text" class="form-control" v-model="query" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </div>
      

        <div class="row"  style="padding:20px;">
            <div  style="margin-top:20px;" class="col-xs-12 col-sm-6 col-md-4 col-lg-3" v-for="(product,index) in products_query" :key="index">          

                <div class="card" style="width: 18rem; height:100%;">
                   <!-- <img :src="product.img" class="card-img-top" alt="...">  carousel-item --> 

                   <div v-bind:id="'carouselExampleControls' + index" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">

                      <div style="min-height:300px; height:300px; padding:10px;" v-for="(img_productos, index2) in product.img" v-bind:class = "(img_productos.isActive)?'carousel-item active':'carousel-item'" >
                        <img  :src="img_productos.src" style="width:100%; max-width: 100%;" >
                        
                      </div>
                     
                      
                    </div>
                    <button class="carousel-control-prev" type="button" :data-bs-target="'#carouselExampleControls' + index" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-show">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" :data-bs-target="'#carouselExampleControls' + index" data-bs-slide="next">
                      <span class="carousel-control-next-icon" ></span>
                      <span class="visually-show">Next</span>
                    </button>
                  </div>
                   
                    <div class="card-body">
                      <p class="card-text">
                          <h4>{{product.name}}</h4>
                          {{product.description}}
                          <p style="color:green">Precio: {{product.precio}}</p>
                    </p>
                    </div>
                  </div>

            </div>    
        </div>


       
      
    </div>




    <script>
        
        const vue=new Vue({
            el:'#app',
            data: {
                  query:'',
                   products:[
                    {name:'Pendriver Kingston 32 gb',
                    description:'',
                    precio:'6,5$',
                    disponibilidad:true,
                    cantidad:10,
                    img:
                    [
                      {src:'https://http2.mlstatic.com/D_NQ_NP_667644-MLV49255251185_032022-O.webp',isActive:true},
                      {src:'https://http2.mlstatic.com/D_NQ_NP_986546-MLV47848625743_102021-O.webp',isActive:false}
                    ]},
                    {name:'Pendriver sandisk mini 32gb',
                    description:'',
                    disponibilidad:true,
                    precio:'7,5$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_729329-MLV47714696927_092021-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_927393-MLV47714880227_092021-O.webp',isActive:false}
                    ]},
                    {name:'Pendriver sandisk 32gb',
                    description:'',
                    disponibilidad:true,
                    precio:'7,5$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_633293-MLV49503749254_032022-O.webp',isActive:true}
                    ]},
                    {name:'Pendriver sandisk 16gb',
                    description:'',
                    disponibilidad:true,
                    precio:'5$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_633293-MLV49503749254_032022-O.webp',isActive:true}
                    ]},
                    {name:'Mini Batidora Scarlet',
                    description:'',
                    disponibilidad:true,
                    precio:'14$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_735248-MLV49360271582_032022-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_773232-MLV49360335421_032022-O.webp',isActive:false}
                    ]},
                    {name:'Mini Batidora Efi con base',
                    description:'Incliye embase con capacidad de 2 litros de mezcla.',
                    disponibilidad:true,
                    precio:'28$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_896670-MLV45140744119_032021-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_896670-MLV45140744119_032021-O.webp',isActive:false}
                    ]},
                    {name:'Batidor de mano',
                    description:'',
                    disponibilidad:true,
                    precio:'6,5$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_977083-MLV47035644040_082021-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_802295-MLV47035506984_082021-O.webp',isActive:false}
                    ]},

                    {name:'Audífonos Samsung Akg S8 S8+',
                    description:'',
                    disponibilidad:true,
                    precio:'2,4$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_767412-MLV46263727457_062021-O.webp',isActive:true}
                    ]},

                    {name:'Audifonos basicos',
                    description:'',
                    disponibilidad:true,
                    precio:'3$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_798776-MLV47816434826_102021-O.webp',isActive:true}
                    ]},

                    {name:'Audifonos Monster Beats',
                    description:'Bluetooh,radio,mc\nIncluye cable usb de carga',
                    disponibilidad:true,
                    precio:'10$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_838011-MLV44693506189_012021-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_940023-MLV32620498755_102019-O.webp',isActive:false}
                    ]},

                    {name:'Mouse Gamer Usb Jertech',
                    description:'',
                    disponibilidad:true,
                    precio:'6,5$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_779297-MLV45690046221_042021-O.webp',isActive:true}
                    ]},

                    {name:'Mouse Genius Usb Optico',
                    description:'',
                    disponibilidad:true,
                    precio:'4$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_979551-MLV25727196798_072017-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_708992-MLV25727197787_072017-O.webp',isActive:false}
                    ]},

                    {name:'Mouse Usb Lenovo M20 Optico',
                    description:'',
                    disponibilidad:true,
                    precio:'4$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_725577-MLV44954724493_022021-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_661701-MLV44954724500_022021-O.webp',isActive:false}
                    ]},

                    {name:'Cornetas Para Computadora , Pc , Laptop',
                    description:'',
                    disponibilidad:true,
                    precio:'7$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_696902-MLV31247760834_062019-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_848497-MLV30288861507_052019-O.webp',isActive:false}
                    ]},

                    {name:'Kit Teclado Y Mouse pc',
                    description:'',
                    disponibilidad:true,
                    precio:'12$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_650244-MLV45696625059_042021-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_812288-MLV45696603394_042021-O.webp',isActive:false}
                    ]},

                    {name:'Router 4c Xiaomi Antenas Señal 300mbps',
                    description:'',
                    disponibilidad:true,
                    precio:'32,5$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_644943-MLV46521307112_062021-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_652708-MLV46521215983_062021-O.webp',isActive:false},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_804280-MLV46521293326_062021-O.webp',isActive:false}
                    ]},

                    {name:'Router Wifi Mercusys 2 Antenas Mw301r 300mbps',
                    description:'',
                    disponibilidad:true,
                    precio:'26$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_961857-MLV44191393298_112020-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_728429-MLV44191377886_112020-O.webp',isActive:false}
                    ]},

                    {name:'Bam Multibam 4g Lte Movistar Wifi Modem',
                    description:'',
                    disponibilidad:true,
                    precio:'45$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_997404-MLV49220031691_022022-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_827689-MLV49220010623_022022-O.webp',isActive:false}
                    ]},

                    {name:'Corneta Portatil Bluetooth',
                    description:'',
                    disponibilidad:true,
                    precio:'10,5$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_989859-MLV48363343067_112021-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_693743-MLV48363697421_112021-O.webp',isActive:false}
                    ]},

                    {name:'Corneta Portatil',
                    description:'Incluye cable usb, para su carga.',
                    disponibilidad:true,
                    precio:'12$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_841742-MLV49342479344_032022-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_978510-MLV48158397346_112021-O.webp',isActive:false}
                    ]},

                    {name:'Cocina Electrica 2 Hornillas Roccia',
                    description:'',
                    disponibilidad:true,
                    precio:'17$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_923341-MLV48744277188_012022-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_729680-MLV47329654156_092021-O.webp',isActive:false}
                    ]},

                    {name:'Cocina Eléctrica De 2 hot',
                    description:'',
                    disponibilidad:true,
                    precio:'13$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_709287-MLV32041527448_092019-O.webp',isActive:true}
                    ]},

                    {name:'Cocina Eléctrica De Una Hornilla Mamut',
                    description:'',
                    disponibilidad:true,
                    precio:'8$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_778915-MLV45353839658_032021-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_794082-MLV45354080147_032021-O.webp',isActive:false}
                    ]},

                    {name:'Micro Sd 32gb Kingston Clase 10 En Blister',
                    description:'',
                    disponibilidad:true,
                    precio:'6,5$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_929385-MLV48621474708_122021-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_746611-MLV48621453993_122021-O.webp',isActive:false}
                    ]},

                    {name:'Consola Sup M3 Portatil Game Box Power 900 Juegos',
                    description:'',
                    disponibilidad:true,
                    precio:'26$',
                    cantidad:10,
                    img:[
                    {src:'https://http2.mlstatic.com/D_NQ_NP_923518-MLV48835067430_012022-O.webp',isActive:true},
                    {src:'https://http2.mlstatic.com/D_NQ_NP_759270-MLV49030772947_022022-O.webp',isActive:false}
                    ]},

                                 



                    ]
                  
                  },
                  computed: {
                    products_query() {
                      return this.products.filter(product => {
                        return product.name.toLowerCase().includes(this.query)||product.description.toLowerCase().includes(this.query) ;//this.buscar.toLowerCase());
                      });
                    }
                  }
        });

    </script>
    
</body>
</html>